Django==5.2.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
django-cors-headers==4.7.0
django-extensions==4.1
psycopg2-binary==2.9.10
dj-database-url==1.3.0
sqlparse==0.5.3
numpy==2.2.6
pandas==2.2.3
scikit-learn==1.6.1
joblib==1.5.0
scipy==1.15.3
PyJWT==2.9.0
pytz==2025.2
python-dateutil==2.9.0.post0
typing_extensions==4.13.2
tzdata==2025.2
